.page-wrapper {
  overflow: hidden;
}
.navbar {
  border: 1px solid var(--light-grey);
}

.main-section {
  background-color: var(--lynx-white);
  overflow-y: auto;
}

.main-section-strech {
  background-color: var(--lynx-white);
  grid-column-start: 1;
  grid-column-end: -1;
}

.sidebar {
  margin-top: 5rem;
}

.sidebar-mobile {
  background-color: var(--lynx-white);
}

.nav-wishlist,
.nav-cart {
  font-size: 2.5em;
}

.icon-badge span {
  top: -40%;
  right: -42.5%;
}

.forgot-password {
  padding-right: 0;
}

.arrival-img {
  flex-basis: 10vw;
  height: 20vh;
}

.border-secondary-dark {
  border: 1.5px solid var(--secondary);
}

@media only screen and (max-width: 1000px) {
  .nav-wishlist,
  .nav-cart {
    font-size: 2em;
  }
  .arrival-img {
    flex-basis: 30vw;
  }
}

@media only screen and (max-width: 600px) {
  label {
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .arrival-img {
    flex-basis: 30vh;
  }
  .arrival-left-section,
  .arrival-right-section {
    display: flex;
    flex-direction: column;
    gap: 1rem 1rem;
    height: 25vh;
  }
  .new-arrival {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .new-arrival + div {
    text-align: center;
  }
}

@media only screen and (max-width: 400px) {
  .nav-logo {
    font-size: 85%;
  }
}
